.middle{
    background-color: var(--pearl-bush);
    display: block;
}

.swiper{
    background-color: #E9DCD1;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}
/*
.swiper >*{
    border: black 1px solid;  
}*/

.swiper #swiper-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swiper h1{
    margin-top: -2em;
}

#left-swipe, #main-photo, #right-swipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.swiper #main-photo{
    height: 300px;
    width: 450px;
    margin: 0 5vw 0 5vw;
    background-color: #ACD667;
    border-radius: 30px;
}

.swiper #left-swipe{
    height: 100px;
    width: 100px;
    background-color: #5A9F7D;
    border-radius: 10px;
    transition:box-shadow .2s ease-in-out;
}

.swiper #right-swipe{
    height: 100px;
    width: 100px;
    background-color: #5A9F7D;
    border-radius: 10px;
    transition:box-shadow .1s ease-in-out;
}

.swiper #left-swipe:hover,.swiper #right-swipe:hover{
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2), 0 0 6px 6px rgba(0, 0, 0, 0.19);
}

.swiper-responsive{
    display: none;
}
#main-photo{
    justify-content: center;
    text-align: center;
}

#main-photo .prod-img{
    height: 80%;
    width: auto;
}

.left-right-images{
    height: 90%;
    width: auto;
}

.details{
    background-color: #E9DCD1;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-top: 1em;
}

.details >*>h2{
    text-align: center;
}


.details .ingredients-list,.details .nutritional-values{
    height: 350px;
    width: 50%;
    margin:1em;
    background-color: #E4D2C2;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
}

.details .ingredients-list{
    margin-right: 0em;
}

@media only screen and (max-width:960px){
    .swiper{
        display: none;
    }
    .swiper h1{
        margin-top: -1em;
    }
    
    .swiper-responsive{
        background-color: #E9DCD1;
        width: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .swiper-responsive #swiper-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-responsive h1{
        margin-top: -2em;
    }
    
    .swiper-responsive #main-photo{
        height: 300px;
        width: 450px;
        margin: 0 5vw 0 5vw;
        background-color: #ACD667;
        border-radius: 30px;
    }
    
    .swiper-responsive #swiper-images #mini-arrows{
        display: flex;
        flex-direction: row;  
    }

    .swiper-responsive #swiper-images #mini-arrows #left-swipe:hover,
    .swiper-responsive #swiper-images #mini-arrows #right-swipe:hover{
        background-color: #3e7358;
        
    }


    .swiper-responsive #swiper-images #mini-arrows #left-swipe,
    .swiper-responsive #swiper-images #mini-arrows #right-swipe{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top:10px;   
        margin-top: 10px; 
        
    }

    .swiper-responsive #swiper-images #mini-arrows #left-swipe{
        margin-right: 20px;
    }

    .swiper-responsive #left-swipe{
        height: 30px;
        width: 30px;
        background-color: #5A9F7D;
        border-radius: 10px;
    }
    
    .swiper-responsive #right-swipe{
        height: 30px;
        width: 30px;
        background-color: #5A9F7D;
        border-radius: 10px;
    }

    .details{
        flex-direction: column;
        height: auto;
    }
    .details .ingredients-list{
        margin-right: 1em;
    }

    .details .ingredients-list,.details .nutritional-values{
        width: 90%;
    }
}

@media only screen and (max-width:570px){
    
    .swiper h1{
        margin-top: 1em;
    }

    .swiper-responsive{
        background-color: #E9DCD1;
        width: 100%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    
    .swiper-responsive #main-photo{
        height: 170px;
        width: 230px;
        margin: 0 5vw 0 5vw;
        background-color: #ACD667;
        border-radius: 30px;
    }
}



