<IfModule dir_module>
    DirectoryIndex /Router/public/index.php
</IfModule>

Options FollowSymLinks

RewriteEngine On
RewriteBase /Router/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [QSA,L]