:root{
    --ebony-clay: #232d36;
    --pearl-bush: #ede4dc;
    --burnt-sienna: #ef895d;
    --matrix: #b45760;
    --mongoose: #b49b83;
    --aqua-forest: #5a9f7d;
    --summer-green: #98b5ab;
    --soft-amber: #cabcae;
    --oriental-pink: #c59ea8;
}

.search-container{
    margin-top: 1em;
    margin-right: 2vw;
    float:right;
}

body{
    background-color: var(--pearl-bush);
    font-family:'Poppins',sans-serif;
    margin:0;
    padding: 0.5em 1em 0 1em;
}

.middle{
    display: flex;
}

.shop{
    display: block;
    width: 100%;
}

/* Container Right Side Sort by dropdown List */
.sort-by{
    width: 200px;
    margin-left: auto;
    margin-right: 1.20em;
}

/* Responsive Left side Filter List */
.sorting-lists .form-responsive{
    visibility: hidden;
    height: 0;
    position: absolute;
}

.sort-by-title{
    width: 200px;
    background-color:hsl(26, 42%, 83%);
    margin-top: 0.75em;
    border: none;
    padding: 0.5em;
    border-radius: 15px;
}

.sort-by:hover .list-categories{
    max-height: inherit;
    opacity: 1;
    position: absolute;
  }

.sort-by:hover .sort-by-title{
    border-radius: 15px 15px 0 0;
}

.list-categories{
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.list-categories li{
    width: 200px;
    background-color:hsl(26, 42%, 83%);
    justify-content: center;
    text-align: center;
}

.list-categories li a:link,.list-categories li a:visited {
    text-decoration: none;
    color: #b45760;
}

.list-categories li:last-of-type{
    border-radius:0 0 15px 15px;
}

.list-categories li:hover{
    text-shadow: #589882 1px 0 10px;
}

.sort-list{
    width:15em;
    background-color:hsl(26, 42%, 83%);
    margin: 0.75em;
    border-radius: 20px;
    height: auto;
}

.sort-list #sort-list-title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.sort-list .tag{
    width: 75%;
    text-align: left;
    margin-left: 5px;
}

.sort-list label{
    color: #b45760;
    margin-left: 10px;

}

.sort-list input[type=submit] {
    width: 14em;
    height: 40px;
    margin-left: .5em;
    text-align: center;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
    transition: background-color 0.1s ease-in-out;
}

.sort-list input[type=submit]:hover {
    background-color: #98b5ab;
}

.shop-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#categories{
    display: none;
}

.shop-list-icon{
    height: 50px;
    width: auto;
    display: none;
}

.product-cell{
    height: 16em;
    width: 200px;
    margin: .75em;
    color:var(--ebony-clay);
    background-color:var(--aqua-forest);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
    display: block;
    transition: color .2s ease-in-out,background-color .2s ease-in-out;
}

.product-cell:hover{
    background-color: #219a5f;
    color: rgb(0, 0, 0);
}

.product-cell p{
    margin-top: 0;
    height: 5px;
}

.image-product{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    height: 160px;
    max-width: 135px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-cell .product-cell-bottom{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-top: #000000 1px solid;
    height: 3em;
}

.product-cell .product-cell-bottom .product-cell-bottom-name{
    width: 80%;
}

.product-cell .product-cell-bottom #add-to-list-icon{
    width: 20%;
}

.product-cell .product-cell-bottom #add-to-list-icon button{
    background-color: #219a5f;
    padding: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,font-size .1s ease-in-out;
}

.product-cell .product-cell-bottom #add-to-list-icon button:hover{
    background-color: #f69676;
    color: #232d36;
    font-size: 25px;
}

.choose-page{
    justify-content: center;
    text-align: center;
}

.choose-page a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.choose-page a:hover {
    background-color:var(--burnt-sienna);
    color:black;
}

.previous {
    background-color: hsl(26, 42%, 83%);
    color:var(--ebony-clay);
    border-radius: 10px;
}

.next{
    background-color: hsl(26, 42%, 83%);
    color: var(--ebony-clay);
    border-radius: 10px;
  }

@media only screen and (max-width: 1300px){
    .middle{
        margin:2em .25em;
    }
}

@media only screen and (max-width: 970px){
    body{
        padding: 0 1em 0 1em;
    }

    .sort-list{
        display: none;
    }

    .sorting-lists{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .sort-by,.sort-by-title{
        margin: .25em 0 0 0;
    }

    .list-categories{
        margin-left: 0;
    }

    .sort-by:first-child{
        margin-left: 0;
        margin-right: auto;
    }
    .sorting-lists .sort-by .form-responsive{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .sorting-lists .sort-by:hover .form-responsive{
        visibility: visible;
        opacity: 1;
        display: block;
        background-color: hsl(26, 42%, 83%);
        position: absolute;
        width: 200px;
        padding-bottom: 2em;
        height: auto;
        border-radius: 0 0 15px 15px;

    }

    .sorting-lists .sort-by-first{
        text-align: left;
    }

    .sorting-lists .sort-by #sort-list-title{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }

    .sorting-lists .sort-by .tag{
        width: 75%;
        text-align: left;
        margin-left: 5px;
    }

    .sorting-lists .sort-by label{
        color: #b45760;
    }

    .sorting-lists .sort-by label:hover{
        text-shadow: #589882 1px 0 10px;
    }


    .sorting-lists .sort-by input[type=submit] {
        width: 14em;
        height: 40px;
        margin-left: .5em;
        text-align: center;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
        transition: background-color 0.1s ease-in-out;
    }

    .sorting-lists .sort-by input[type=submit]:hover {
        background-color: #98b5ab;
    }


    #categories{
        display:block;
    }

    .shop-list{
        width: 100%;
    }

    .footer .list-items-bottom{
        margin-left: 1em;
    }

}

@media only screen and (max-width: 520px){
    body{
        padding: 0;
    }
    .sorting-lists .sort-by:hover .form-responsive{
        margin-left: -0.25em;
    }
}