/*
Title font: font-family: 'Jolly Lodger', serif;
Text Font:  font-family:'Poppins',sans-serif;
*/

:root{
--ebony-clay: #232d36;
--pearl-bush: #ede4dc;
--burnt-sienna: #ef895d;
--matrix: #b45760;
--mongoose: #b49b83;
--aqua-forest: #5a9f7d;
--summer-green: #98b5ab;
--soft-amber: #cabcae;
--oriental-pink: #c59ea8;
}
body{
    background-color: var(--pearl-bush);
    font-family:'Poppins',sans-serif;
    margin:0;
    height: 100vh;
}

.body-title .title-icon{
    display: flex;
}

.body-title .title-icon .iconify{
    margin-top: 15px;
    font-size: 3em;
}

.middle{
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.middle .carbonated .carbonated-text{
    text-indent: 5px;
    padding: 1px;
    border-radius: 20px;
    background-color: rgba(202, 188, 174, 0.7);
}

.middle .carbonated .carbonated-list{
    height: auto;
    margin: .25em .75em;
}

.carbonated{
    background-color: #E9DCD1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2em;
    border-radius: 20px;
    width: 100%;
}

.carbonated .carbonated-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-cell{
    height: 16em;
    width: 200px;
    margin: .75em;
    color:var(--ebony-clay);
    background-color:var(--aqua-forest);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    text-align: center;
    display: block;
    transition: color .2s ease-in-out,background-color .2s ease-in-out;
}

.product-cell:hover{
    background-color: #219a5f;
    color: rgb(0, 0, 0);
}

.product-cell p{
    margin-top: 0;
    height: 5px;
}

.image-product{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    height: 160px;
    max-width: 135px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-cell .product-cell-bottom{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-top: #000000 1px solid;
    height: 3em;
}

.product-cell .product-cell-bottom .product-cell-bottom-name{
    width: 80%;
}

.product-cell .product-cell-bottom #add-to-list-icon{
    width: 20%;

}

.product-cell .product-cell-bottom #add-to-list-icon button{
    background-color: #219a5f;
    padding: 0;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,font-size .1s ease-in-out;
}
.product-cell .product-cell-bottom #add-to-list-icon button:hover{
    background-color: #f69676;
    color: #232d36;
    font-size: 25px;
}
