/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.shp-list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.shp-list .wrapper {
    max-width: 500px;
    padding: 28px 0 30px;
    margin: 0;
    height: 100%;
}
.shp-list .item-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.shp-list .item-input .iconify-menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    top: 50%;
    position: absolute;
    transform: translate(10px, -40%);
}

.shp-list .item-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1em;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.shp-list .item-input input:focus, .shp-list .item-input input.active {
    padding-left: 52px;
    border: 3px solid #5a9f7d;
}
.shp-list .item-input input::placeholder {
    color: #bfbfbf;
}
.shp-list .controls, .shp-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 'All' & 'Clear All' div */
.shp-list .controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}
.shp-list .filters span {
    margin-right: 8px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.shp-list .filters span:hover {
    font-size: 17px;
    color: #5a9f7d;
    cursor: pointer;
}
/* Starea initiala a butonului de clear content */
.shp-list .controls .clear-btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #98b5ab 0%, #5a9f7d 100%);
}
/* Dupa ce apas pe buton -> opacitatea e 1 */
.shp-list .clear-btn.active {
    opacity: 1;
    pointer-events: auto;
}
.shp-list .clear-btn:active {
    transform: scale(0.93);
}
.shp-list .item-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 20px 10px 25px;
}
.shp-list .item-box.overflow {
    overflow-y: auto;
    max-height: 300px;
}
.shp-list .item-box::-webkit-scrollbar {
    width: 5px;
}
.shp-list .item-box::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}
.shp-list .item-box::-webkit-scrollbar-thumb {
    background: #5a9f7d;
    border-radius: 25px;
}
/* Fiecare linie de item din lista */
.shp-list .item-box .task {
    list-style: none;
    font-size: 1em;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #e9dcd1;
}
.shp-list .item-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.shp-list .item-box .task label {
    display: flex;
    align-items: flex-start;
}
/* Check box - accent-color =  culoarea verde cand se face check */
.shp-list .task label input {
    margin-top: 7px;
    accent-color: #5a9f7d;
}
/* Textul din lista */
.shp-list .task label p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    margin-left: 12px;
    word-break: break-all;
    cursor: pointer;
    color: white;
}
/* Linia taiata dupa ce se face check la item */
.shp-list .task label p.checked {
    text-decoration: line-through;
}
/* Settings button pentru fiecare input (edit si delete) */
.shp-list .item-box .configs {
    position: relative;
    color: #5a9f7d;
}
/* Delete si Edit menu */
.shp-list .configs .item-menu {
    color: black;
    z-index: 10;
    right: -2px;
    bottom: -115px;
    padding: 5px 0;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}
/* Transform-origin -> transforma axa ultimului task menu sa fie in dreapta jos */
.shp-list .item-box .task:last-child .item-menu {
    bottom: 0;
    transform-origin: bottom right;
}
/* make it appear on screen */
.shp-list .item-menu.show {
    transform: scale(1);
}
.shp-list .item-menu li {
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    justify-content: flex-start;
}
.shp-list .item-menu li:last-child {
    margin-bottom: 0;
}
.shp-list .configs li:hover {
    background: #f5f5f5;
}
.shp-list .configs li i {
    padding-right: 8px;
}
/* Responsive */
@media (max-width: 400px) {
    .shp-list body {
        padding: 0 10px;
    }
    .shp-list .wrapper {
        padding: 20px 0;
    }
    .shp-list .filters span {
        margin: 0 5px;
    }
    .shp-list .item-input {
        padding: 0 20px;
    }
    .shp-list .controls {
        padding: 18px 20px;
    }
    .shp-list .item-box {
        margin-top: 20px;
        margin-right: 5px;
        padding: 0 15px 10px 20px;
    }
    .shp-list .task label input {
        margin-top: 4px;
    }
}